<html xmlns:th="http://thymeleaf.org" lang="en">
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h1>Transaction History</h1>

		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>

			<tr th:each="t: ${transactions}">
				<td th:inline="text">
					<a th:href="@{/transactions/{id}(id=${t.id})}">
						<span th:text="${t.id}"></span>
					</a>
				</td>
				<td th:text="${t.date}"></td>
				<td th:text="${t.retailer}"></td>
				<td th:inline="text"><span th:text="${t.amount}" th:if="${t.type.equals('C')}"></span></td>
				<td th:inline="text"><span th:text="${t.amount}" th:if="${t.type.equals('D')}"></span></td>
			</tr>
		</table>
	</body>
</html>